<div class="jumbotron">
  <h1>Node.js &amp;<br/>List Data with the SharePoint Online's REST API</h1>
  <p>This application demonstrates leveraging the SharePoint ONline REST API to show items from a list in SharePoint ONline and Azure AD applications in a Node.js application.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="/missions" role="button">View Apollo Missions in a SharePoint site &raquo;</a>
  </p>
</div>